body {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/city.jpg');
    background-size: cover;
    color: white;

    .wrapper {

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            .left, .right {
                width: 50%;

                .text-container {
                    width: 200px;
                }

                img {
                    width: 250px;
                    height: 250px;
                }
            }
            

        }
        
    }
}