body {
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url('../images/city.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-size: 62.5%;

    .wrapper {

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            .left {
                display: flex;
                justify-content: flex-end;
            } 

            .left, .right {
                width: 50%;

               
                .text-container {
                    width: 350px;
                    margin-bottom: 100px;

                    p {
                        font-size: 1rem;
                    }
                }

                img {
                    width: 350px;
                    height: 350px;
                    margin: 100px 0 0 50px;
                }
            }
            

        }
        
    }
}